include ./utils/mixins
doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    block title
    link(rel="stylesheet" href="assets/css/main.min.css")
  body
    block content
    block scripts

    .visually-hidden
      include ../assets/svgsprite/symbol/sprite.svg
