// colors
$white: #ffffff;
$black: #000000;

$breackpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$mobile-width: 320px;
$mobile-pads: 20px;
$tablet-width: 768px;
$tablet-pads: 30px;
$desktop-width: 1300px;
$desktop-pads: 40px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
